<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="/assets/img/favicon.svg">
  <title>{{ title }}</title>
  <!--Set colour mode before render to avoid a flash of the wrong theme-->
  <script src="/assets/js/theme-init.js"></script>
  <!-- PLUGIN seo BEGIN -->
  {{> seo-meta}}
  <!-- PLUGIN seo END -->
  <!-- PLUGINS: head -->
</head>

<body>

  {{{ body }}}

</body>

</html>