<link rel="stylesheet" href="/assets/fonts/bootstrap-icons/bootstrap-icons.min.css">
<link rel="stylesheet" href="/assets/fonts/iconsmind/iconsmind.css">
<link rel="stylesheet" href="/assets/vendor/aos/aos.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Source+Serif+4:ital,wght@0,400;0,500;1,400;1,500&display=swap" rel="stylesheet">
<link href="/assets/css/theme.min.css" rel="stylesheet">

<header class="z-fixed header-transparent header-absolute-top pt-lg-3">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container position-relative">
      <a class="navbar-brand fw-bold fs-3" href="/">{{ name }}°</a>

      <div class="d-flex align-items-center navbar-no-collapse-items order-lg-last">
        <div class="nav-item">
          <a href="/login" class="btn btn-secondary btn-sm">Sign In</a>
        </div>
      </div>
    </div>
  </nav>
</header>

<main>
  <section class="position-relative">
    <div class="bg-pattern text-primary text-opacity-50 opacity-25 w-100 h-100 start-0 top-0 position-absolute"></div>
    <div class="bg-gradientwhite flip-y w-50 h-100 start-50 top-0 translate-middle-x position-absolute"></div>
    <div class="container min-vh-100 d-flex align-items-center justify-content-center py-9 position-relative z-1">
      <div class="row align-items-center justify-content-center w-100">
        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 z-2">

          <h2 class="mb-1 display-6">Choose a new password</h2>
          <p class="mb-4 text-body-secondary">
            Enter a new password for your account.
          </p>

          <div class="position-relative">
            <div>
              <form class="needs-validation" method="post" action="/reset-password/{{ token }}" novalidate>
                <div class="input-icon-group mb-3">
                  <span class="input-icon">
                    <i class="bi bi-unlock"></i>
                  </span>
                  <input type="password" name="password" class="form-control" required minlength="8" autofocus
                    placeholder="New password">
                </div>
                <div class="input-icon-group mb-3">
                  <span class="input-icon">
                    <i class="bi bi-unlock"></i>
                  </span>
                  <input type="password" name="confirmPassword" class="form-control" required minlength="8"
                    placeholder="Confirm new password">
                </div>

                {{#if error}}
                <div class="alert alert-danger py-2 mb-3">{{ error }}</div>
                {{/if}}

                <div class="d-grid">
                  <button class="btn btn-primary" type="submit">
                    Reset password
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<script src="/assets/js/theme.bundle.min.js"></script>
